/* ===== Ported global styles from your project ===== */
@import url('css/styles.css'); 
@import url('css/auth.css');
@import url('css/profile.css');
@import url('css/search.css');
@import url('css/editprofile.css');